---
layout: blank
---
/*Version {{ site.version_number }}*/
/*{{ site.urllive }}*/

:root {
    --main-color: #640000;
    --second-color: #000;
    --white-color: #fff;
    --grey-color: #aaa;
    --dark-grey-color: #888;
    --black-color: #000;
    --radius: 10px;
    --green-color: #006400;
    --red-color: #640000;
	--padding: 8px;
}

/* vietnamese */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/DancingScriptVietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/DancingScriptLatinExt.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/DancingScriptLatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
	
* {
    box-sizing: border-box;  
	scrollbar-width: thin;
	scrollbar-color: var(--white-color) var(--black-color);
}
 *::-webkit-scrollbar {
  width: var(--padding);
}
*::-webkit-scrollbar-track {
  background: var(--black-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--white-color) ;
}

html, body, hr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    display: block;
	margin: 0;
	padding: 0;
	border: none;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden;  */
}

body {
	background-color: var(--grey-color);
}

hr {
	clear: both;
	margin: calc(var(--padding) / 2) 0;
	height: var(--padding);
}

h1, h2, h3 {
	font-family: Dancing Script;
	color: var(--main-color);
}

h4, h5, h6 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: var(--main-color);
	font-style: italic;
    text-align: center;
}

h1{font-size:41px;}
h2{font-size:34px;}
h3{font-size:28px;}
h4{font-size:23px;}
h5{font-size:19px;}
h6{font-size:16px;}

svg{
    fill: currentColor;
    height: 1em;
    width: 1em;
    display: inline-flex;
    position: relative;
    vertical-align: middle; 
}

a{
	text-decoration: none;
	color: inherit;
}

input, textarea, select, button, label {
	width:100%; 
	display:block;
	border: none;
	padding: var(--padding);
	border-radius: var(--radius);
	margin: var(--padding) 0;
	cursor: pointer;
}

textarea {
	resize: none;
}

input[type="color"] {
	cursor: pointer;
	padding: 0;
	border-radius: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.green {
	background-color: var(--green-color);
	color: var(--white-color);
}

.red {
	background-color: var(--red-color);
	color: var(--white-color);
}

#headerContainer, #navContainer, #pageContainer, #footerContainer, #headerContent, #navContent, #pageContent, #footerContent, #navOpenContainer, .modal-content {
	width: 100%;
	margin: 0 auto;
	padding: var(--padding);
}

#navOpenContainer{
	color: var(--white-color);
	background-color: var(--black-color);
	font-size: 41px;	
}

#headerContainer{
	color: var(--white-color);
	background-color: var(--main-color);
	font-size: 41px;
}

#footerContainer{
	color: var(--white-color);
	background-color: var(--black-color);
	min-height: calc(45vh - 600px);
}

#pageContainer{
	min-height: 55vh;
}

.logoImage{
	max-height: 500px;
	max-width:100%;
}

.fixed-three-quarter{	
	width: 75%;
	float: left;
}

.fixed-quarter{	
	width: 25%;
	float: left;
}

.fixed-half{
	width: 50%;
	float: left;	
}

.fixed-third{
	width: 33%;
	float: left;	
}

.fixed-two-third{
	width: 66%;
	float: left;	
}

.fixed-four-fifth{
	width: 80%;
	float: left;	
}

.fixed-three-fifth{
	width: 60%;
	float: left;	
}

.fixed-two-fifth{
	width: 40%;
	float: left;	
}

.fixed-fifth{
	width: 20%;
	float: left;	
}

.quarter, .third, .half{
	width: 100%;
	float: left;
}

.full {
	width: 100%;
	display: block;
}

.center{
    text-align: center !important;
}

.round {
	border-radius: var(--radius);
}

.padding {
	padding: var(--padding);
}

.padding-left {
	padding-left: var(--padding);
}

.padding-right {
	padding-right: var(--padding);
}

.padding-top {
	padding-top: var(--padding);
}

.padding-bottom {
	padding-bottom: var(--padding);
}
		
.width-auto{
	width: auto;
	display: inline-block;
}

@media(min-width:700px){
	#headerContent, #navContent, #pageContent, #footerContent, .modal-content {
		width: 80%;
	}
	.quarter{
		width: 25%;
	}
	.third{
		width: 33%;
	}
	.half{
		width: 50%;
	}
}

@media(min-width:1500px){
	#headerContent, #navContent, #pageContent, #footerContent, .modal-content {
		width: 100%;
		max-width: 1200px;
	}
}

/*NavMenu & modal*/
#navClose, .modal-close{
	top: var(--padding);
	right: var(--padding);
	position: absolute;
	color: var(--white-color);
}

#navMenu svg{
	width: 15px;
	height: 15px;
}
#navMenu li{
	width: 100%;
	text-align: center;
	list-style: none;
	padding: var(--padding);
	margin: 0;
}
#navMenu ul{
	list-style: none;
	padding: var(--padding);
	margin: 0;
	border: 1px solid var(--white-color);
}
#navMenu{
	list-style: none;
	padding: var(--padding);
	margin: 0;
}
#navMenu span{
	float: right;
}

#navContent, .modal-content {
	position: relative;
	top: 5%;
	width: 100%;
	text-align: center;
	margin-top: calc(var(--padding) * 3);
	color: var(--white-color);
}
#navContainer, .modal {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.95);
	transition: 0.5s;
	padding: 0;
	overflow: auto;
}

.modal-content header {
	padding: calc(var(--padding) * 3);
	border: 1px solid var(--white-color);
}

.opacity50{
	opacity: 0.5;
}

code{
    white-space: pre-line; 
	word-wrap:anywhere;
}

.auto-grid *{margin:0}

.auto-grid {
	display: grid;
	grid-auto-columns: minmax(15rem, auto);
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	grid-gap: 0.5rem;
}

.auto-grid > * {
	background: var(--dark-grey-color);
	border: 3px solid var(--main-color);
	border-radius:10px;
	color: var(--white-color);
	padding: 0.5rem;
	font-size: 1rem;
	text-align: center;
}

.auto-grid > * {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.auto-grid article {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}
.auto-grid img {
  max-height: 200px;
  width:100%;
  object-fit: cover;
}
.auto-grid p{margin:0 0 30px 0}

#toastyContainer {
	text-align: center;
	position: fixed;
	z-index: 1;
	right: 30px;
	bottom: 30px;
	color: #fff;
}
.toasty{
	font-size: 17px;
	border-radius: 5px;
	background-color: #333;
	width: 250px;
	max-width: 250px;
	word-wrap: break-word;
	margin-top: 3px;
	position:relative;
}
.toastyText{
	word-wrap: anywhere;
	padding: 16px;
	display: inline-block;
}
.toastyClose{
	top: 10px;
	position: absolute;
	right: 10px;
}