---
layout: blank
---
/*Version {{ site.version_number }}*/
/*{{ site.urllive }}*/
:root {
    --table-theme-color: var(--main-color);
    --table-border-color: var(--dark-grey-color);
    --table-background-color: var(--white-color);
    --table-text-color: var(--black-color);
    --table-pading: var(--padding);
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

table hr {
    margin: 0;
    border: none;
}

table tbody,
table td,
table th {
    border: 1px var(--table-border-color);
    padding: var(--table-pading);
    border-style: none solid none solid;
	
  vertical-align: middle;
}

table tbody {
    border-style: solid none solid none;
    padding: 0;
}

table tbody .treven {
    background-color: var(--table-border-color);
}
table.break-table tr:hover {
    background-color: var(--table-text-color);
    color: var(--table-background-color);
}

table th {
    padding: calc(var(--table-pading) * 2);
    background-color: var(--table-theme-color);
    color: var(--table-background-color);
    position: sticky;
    top: 0;
}

td .tablrowheader {
    display: none;
}
@media(max-width:900px) {
    table.break-table,
    table.break-table tbody,
    table.break-table td,
    table.break-table thead,
    table.break-table tr {
        display: block;
    }

    table.break-table td {
        max-width: 100%;
    }

    table.break-table th {
        display: none;
    }

    table.break-table td .tablrowheader {
        display: block;
        float: left;
        text-align: left;
        width: 25%;
    }

    table.break-table td .tablerowcontent {
        display: block;
        float: left;
        text-align: center;
        width: 75%;
    }
}
