<div id="divMessageModal" class="modal" style="width: 100%;display:none;">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="modal-close" onclick="message();"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg>
	<div class="modal-content">
		<header class="messageHeading"></header>
		<p class="messageText"></p>
	</div>
</div>
<script>
	function message(txt = "", heading = "Alert"){
		var messageElem = getElem('divMessageModal');
		messageElem.style.display = 'none';
		getClass("messageHeading",messageElem)[0].innerHTML = heading;
		getClass("messageText",messageElem)[0].innerHTML = txt;
		if(txt !=""){
			messageElem.style.display = 'block';
		}
	}
</script>